body{
  margin: 0;
  padding: 0;
  font-family: Helvetica,Arial,'Hiragino Sans GB','Microsoft YaHei',sans-serif;
  background-color: #eee;
}
h2, h3{
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
ol{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}
a{
  color: #000;
  text-decoration: none;
}
a:hover{
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.clearfix::after{
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfix{
  zoom: 1;
}


header{
  display: block;
}