header, nav {display: block;}
h2, h3, p{margin: 0;}
ul {list-style: none;margin: 0;padding: 0;}
a{text-decoration: none;}
.clearfix::after{
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfix{
  zoom: 1;
}
/*公用*/
.container{
  width: 1080px;
  margin: 0 auto;
}
.left_content{
  float: left;
  width: 810px;
  padding: 10px;
  box-sizing: border-box;
}
.right_content{
  float: right;
  width: 270px;
  padding: 10px;
  box-sizing: border-box;
}
.content_title{
  font-size: 0;
  height: 24px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.content_title h2{
  display: inline-block;
  font-size: 20px;
  padding: 0 10px;
  font-weight: normal;
}
.content_title a{
  color: #000;
}
.content_title a:hover{
  color: #4285f4;
}
.content_title>a{
  display: inline-block;
  font-size: 14px;
  line-height: 12px;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}
.content_title>a:last-child{
  border: none;
}

.btn{
  color: #fff;
  width: 45px;
  height: 25px;
  line-height: 27px;
  margin: 0 5px;
  display: inline-block;
  background-color: #4285f4;
  border-radius: 2px;
}
.btn:hover{
  background-color: rgba(66, 133, 244, 0.9);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*header*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  z-index: 99999;
}
/*header leftNav*/
.leftNav{
  position: relative;
}
.leftNav .logo{
  position: absolute;
  top: 15px;
  left: 0;
}
.leftNav .logo img{
  height: 52px;
}
.leftNav nav{
  float: left;
  padding-left: 200px;
}
.leftNav_list li{
  float: left;
  padding: 0 10px;
}
.leftNav_list li a, .rightNav_list li a{
  color: #000;
  line-height: 80px;
  display: block;
}
.leftNav_list li a:hover, .rightNav_list li a:hover{
  color: #4285f4;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
/*header rightNav*/
.rightNav{
  float: right;
}
.rightNav_list li{
  float: left;
  padding: 0 10px;
}
/*main*/
.main .slider{
  margin-top: 90px;
  margin-bottom: 10px;
  padding: 10px;
}
.slider img{
  width: 1060px;
  height: 322px;
}
.main .subscribe{
  border-top: 1px solid #eee;
}
.subscribe .subscribe_login{
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #eee;
}
.subscribe_login p{
  font-size: 14px;
  text-align: center;
  margin: 20px 0;
}
.subscribe .subscribe_ad{
  margin: 20px 0;
}
/*cartoon*/
.cartoon{
  border-top: 1px solid #eee;
}
.content_list{
  padding: 0 10px;
}
.content_list .content_list_wrap{
  float: left;
  width: 142px;
  margin-right: 12px;
  margin-bottom: 15px;
}
.content_list_wrap p{
  font-size: 14px;
  line-height: 16px;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content_list_wrap p a{
  color: #000;
  display: block;
}
.content_list_wrap p a:hover{
  color: #4285f4;
}
.content_list_wrap span{
  color: #999;
  display: block;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content_list_wrap .imgbox{
  width: 142px;
  height: 199px;
  position: relative;
}
.imgbox img{
  width: 142px;
  height: 199px;
}
.imgbox h3{
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 0;
  bottom: 0;
}
.imgbox h3 a{
  color: #fff;
  display: block;
  padding-right: 10px;
}
.imgbox h3 a:hover{
  color: #4285f4;
}

.update_list_wrap{
  float: left;
  width: 120px;
  height: 36px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #eee;
  position: relative;
}
.update_list_wrap img{
  width: 36px;
  height: 36px;
}
.update_list_wrap .update_list_img{
  position: absolute;
  top: 0;
  left: 0;
}
.update_list_wrap .update_list_content{
  padding-left: 40px;
}
.update_list_wrap .update_list_content a{
  display: block;
  color: #000;
  font-size: 13px;
  line-height: 13px;
  padding-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.update_list_wrap .update_list_content a:hover{
  color: #4285f4;
}
.update_list_wrap .update_list_content p{
  color: #999;
  font-size: 13px;
  line-height: 13px;
  width: 50px;
  padding-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.update_list_wrap .update_list_content .time{
  font-size: 13px;
  color: #f00;
  position: absolute;
  right: 4px;
  bottom: 2px;
}